.profile
  height: 100%
  background: url("./House.svg") no-repeat right bottom fixed
  background-size: 520px 300px
  padding-bottom: 50px
  &__top
    margin-top: 50px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 50px
  &__header
    font-family: 'Nunito'
    font-weight: 400
    font-size: 32px
    line-height: 44px
    color: #000000
  &__info
    margin-bottom: 50px

