.new-dormitry
  padding: 20px 35px
  width: 460px
  border-radius: 20px
  border: 1px solid black
  &__header
    font-family: 'Nunito'
    font-size: 22px
    line-height: 30px
    margin-bottom: 20px
    text-align: center
  &__form
    display: flex
    flex-direction: column
  &__label
    font-family: 'Inter'
    font-size: 16px
    line-height: 19px
    margin-bottom: 5px
  &__input
    font-family: 'Inter'
    font-size: 12px
    line-height: 15px
    height: 30px
    border: 1px solid rgba(29, 53, 87, 0.1)
    box-shadow: inset 0px 0px 4px rgba(29, 53, 87, 0.79)
    border-radius: 6px
    padding-left: 5px
    padding-right: 10px
  &__buttons
    margin: 0 auto
    margin-top: 20px
    display: flex
    justify-content: space-between
    width: 320px
  &__button
    padding: 8px 0
    width: 145px
    font-family: 'Inter'
    font-size: 20px
    line-height: 24px
    &:first-child
      color: #E9EDFA
      background: #3356D9
      border-radius: 10px
    &:nth-child(2)
      border: 2px solid #3356D9
      border-radius: 10px
      color: #3356D9
